---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "C131 的个人介绍",
	title: "关于我",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">关于我</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p class="text-lg leading-relaxed">
			芸芸程序员中普通的一个，在这里记录我个人的学习和体会。
		</p>
	</div>
</PageLayout>
